@model passionProject_n01333782.Models.CarManufactures
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.CompanyName</h2>
<form method="Post" action="/CarManufacture/Edit/@Model.Name_id">
    <div class="inprow">
        <label class="inputLabel">Title</label>
        <input type="text" value="@Model.CompanyName" id="name" name="name" />
    </div>
    <div class="inprow">
        <label class="inputLabel">Year</label>
        <input type="text" value="@Model.Year" id="year" name="year" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "List")
</div>
